language: python

python:
    - 2.7
    - 3.3
    - 3.4
    - 3.5
    - 3.6

install: 
    - git submodule update --init --recursive
    - pip install .

script: python -m unittest discover -v sunspec

notifications:
    email: false
